{% extends 'base.html.twig' %}

{% block body %}
    <nav>
            <ul class="nav">
                <a class="nav-item" href="{{ path('flight_index') }}">Voir les vols</a>
                <a class="nav-item" href="{{ path('reservation_index') }}">Voir les reservations</a>
                <a class="nav-item" href="{{ path('site_index') }}">Voir les terrains</a>
                <a class="nav-item" href="{{ path('review_index') }}">Voir tous les avis utilisateurs</a>
                <a class="nav-item" href="{{ path('planemodel_index') }}">Voir les avions</a>
            </ul>
    </nav>

{% endblock %}

{% block stylesheets %}

{% endblock %}
